body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    background: white;
    box-sizing: border-box;
    font-family: "Circular Std", sans-serif;
}

.main-header {
    width: 100%;
    height: 10vh;
}

.main-header-logo {
    width: 15%;
}

.main {
    display: flex;
    width: inherit;
    height: max-content;
    align-items: center;
    flex-direction: column;
    background: url("../img/bg.png") no-repeat;
    background-size: contain;
    background-position-y: -5%;
}

.main-row {
    display: flex;
    height: 70vh;
    padding: 5vh 10% 0;
    justify-content: space-between;
}

.main-text {
    width: 45%;
}

.main-text-title {
    color: #2D4163;
    font-size: 2vw;
    font-weight: 500;
    line-height: 63px;
    font-style: normal;
}

.main-text-title span {
    color: #357FD3;
}

.main-text-description {
    width: 100%;
    padding: 1vh 3vh;
    background: white;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.06);
}

.main-text-description-comment {
    color: #2D4163;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
}

.main-calculator {
    padding: 3% 3% 2%;
    display: flex;
    height: 460px;
    width: 454px;
    background: #1C82DB;
    align-items: flex-start;
    justify-content: center;
    background: url("../img/right_bg.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 15px 0 30px 0 rgba(0, 0, 0, 0.1);
}

.main-why_us {
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.main-why_us:nth-child(3),
.main-why_us:nth-child(4) {
    margin-top: 0;
}

.main-why_us-title_block {
    width: 100%;
    height: 20vh;
    display: flex;
    background: #1C82DB;
    align-items: center;
    justify-content: center;
}

.main-why_us-title_block-title {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 2vw;
    font-weight: 500;
    line-height: 46px;
    font-style: normal;
}

.main-why_us-main_block {
    width: 80%;
    display: flex;
    padding: 5% 10%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-why_us-main_block-description {
    font-size: 1.15vw;
    font-weight: 500;
    line-height: 3vh;
    text-align: center;
    font-style: normal;
}

.main-works-title_block {
    height: auto;
    flex-direction: column;
}

.main-works-main_block {
    width: 80%;
    display: flex;
    padding: 5% 10%;
    align-items: center;
    flex-direction: column;
}
.main-works-main_block-university {
    width: 100%;
    margin: 5% 0;
    display: flex;
    border: 1px solid #D4D4D4;
    justify-content: space-between;
}

.main-works-main_block-university:nth-child(odd) {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.main-works-main_block-university:nth-child(even) {
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.main-works-main_block-university-img {
    width: 30%;
}

.main-works-main_block-university:nth-child(1) .main-works-main_block-university-img {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background: url("../img/university-of-oslo.jpg") no-repeat center;
    background-size: cover;
}

.main-works-main_block-university:nth-child(2) .main-works-main_block-university-img {
    order: 2;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    background: url("../img/bergen.jpg") no-repeat center;
    background-size: cover;
}

.main-works-main_block-university:nth-child(3) .main-works-main_block-university-img {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background: url("../img/ntnu.jpg") no-repeat center;
    background-size: cover;
}

.main-works-main_block-university:nth-child(4) .main-works-main_block-university-img {
    order: 2;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    background: url("../img/uit.jpg") no-repeat center;
    background-size: cover;
}

.main-works-main_block-university:nth-child(5) .main-works-main_block-university-img {
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background: url("../img/nmbu.jpg") no-repeat center;
    background-size: cover;
}

.main-works-main_block-university-text {
    width: 65%;
    padding: 1% 5%;
}

.main-works-main_block-university-text-title {
    font-size: 2vw;
}

.main-works-main_block-university-text-description {
    font-size: 1.25vw;
}

.main-table {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-table-header {
    width: inherit;
    background: #1C82DB;
}

.main-table-header-school,
.main-table-header-locations {
    width: 25%;
    color: white;
    display: flex;
    font-size: 1.75vw;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}

.main-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-footer-contact_us {
    padding: 0 1vh;
    display: inherit;
    justify-content: space-between;
}

.main-footer-contact_us-contact {
    width: 35%;
    display: inherit;
    flex-direction: column;
}

.main-footer-contact_us-contact-title {
    margin: 0;
    color: #1C82DB;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 36px;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list {
    padding: 0 0 0 5%;
    list-style: none;
}

.main-footer-contact_us-contact-list-item {
    display: flex;
    align-items: baseline;
}

.main-footer-contact_us-contact-list-item:nth-child(3) {
    align-items: center;
}

.main-footer-contact_us-contact-list-item h3 {
    color: #022340;
    font-size: 1.25vw;
    margin-left: 1vh;
    font-weight: bold;
    line-height: 31px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list-item_list {
    padding: 0;
    list-style: none;
}

.main-footer-contact_us-contact-list-item_list li {
    color: black;
    display: flex;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-contact-list-item_list:nth-child(4) li:nth-child(1n+1) a {
    color: #225A8E;
    text-decoration: none;
}

.main-footer-contact_us-contact-list-item_list li span {
    margin-right: 1vh;
    color: #F27507;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
}

.main-footer-contact_us-location {
    width: 20%;
}

.main-footer-contact_us-location-office {
    display: flex;
    color: #022340;
    font-size: 1.25vw;
    font-weight: bold;
    line-height: 31px;
    font-style: normal;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-location-office img {
    margin-right: 1vh;
}

.main-footer-contact_us-location-description {
    width: 75%;
    margin: 1vh 0;
    color: #022340;
    font-size: 1vw;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-contact_us-map {
    width: max-content;
}

.main-footer-contact_us-social {
    width: 20%;
    margin-left: 5%;
}

.main-footer-contact_us-social-img_facebook {
    margin-top: 1vh;
    width: max-content;
}

hr {
    width: 100%;
    border: 2px solid #D4D4D4;
    background: #D4D4D4;
}

.main-footer-navbar {
    width: 100%;
    display: flex;
    margin-bottom: 1vh;
}

.main-footer-navbar-copyright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer-navbar-copyright-text {
    color: #022340;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.main-footer-navbar-items {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.main-footer-navbar-items li {
    display: flex;
    color: #022340;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.main-footer-navbar-items li a {
    color: #022340;
    text-decoration: none;
}

.main-footer-navbar-items li img {
    margin-right: 5px;
}

.main-payments {
    width: auto;
    margin: 1vh 0 3vh;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.main-payments-method {
    width: 5%;
    margin-right: 5%;
}

.main-payments-method:nth-child(3) {
    margin-right: 25%;
}

.main-payments-dmca {
    width: 40%;
}

.main-payments-dmca img {
    width: inherit;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .main-text {
        height: max-content;
    }

    .main-text-title {
        line-height: 40px;
    }

    .main-row {
        height: 60vh;
    }

    .main-calculator {
        width: auto;
        padding: 2% 2% 1%;
        height: max-content;
    }
}

@media screen and (max-width: 1023px) {
    .main-footer-contact_us {
        flex-direction: column;
    }

    .main-footer-navbar {
        flex-direction: column;
    }

    .main-header-logo {
        width: 20%;
    }

    .main-row {
        height: auto;
        flex-direction: column;
    }

    .main-text {
        width: auto;
    }

    .main-text-title {
        width: auto;
        font-size: 9vw;
        line-height: 9vw;
    }

    .main-text-description {
        width: auto;
    }

    .main-why_us-main_block-suits-block-title,
    .main-footer-contact_us-contact-list-item h3,
    .main-footer-contact_us-location-office,
    .main-text-description-comment {
        font-size: 4.5vw;
        line-height: 4.5vw;
    }

    .main-why_us-main_block a {
        margin: 7vh 0;
    }

    .main-footer-contact_us-contact-list-item_list li,
    .main-footer-contact_us-contact-list-item_list li span,
    .main-footer-contact_us-location-description,
    .main-footer-navbar-copyright-text,
    .main-footer-navbar-items li,
    .main-why_us-main_block-suits-block-description {
        font-size: 3.5vw;
        line-height: 3.5vw;
    }

    .main-calculator {
        width: auto;
        height: 90vh;
        padding: unset;
        margin-top: 10%;
        background: unset;
    }

    hr {
        width: 99%;
    }

    .main-why_us-title_block {
        height: auto;
        padding: 5% 0;
    }

    .main-why_us-title_block-title,
    .main-why_us-main_block-title {
        font-size: 6.5vw;
        line-height: 6.5vw;
    }

    .main-why_us-main_block {
        width: auto;
        height: auto;
    }

    .main-works-main_block-description {
        width: auto;
    }

    .main-footer-contact_us-contact-title {
        font-size: 5.5vw;
        line-height: 5.5vw;
    }

    .main-footer-contact_us-contact-list-item_list:nth-child(4) li:nth-child(1n+1) {
        flex-wrap: wrap;
    }

    .main-footer {
        padding: 0 5%;
    }

    .main-footer-contact_us-contact {
        width: auto;
    }

    .main-footer-contact_us-contact-list-item {
        align-items: center;
    }

    .main-footer-contact_us-contact-title {
        margin-top: 5vh;
        text-align: center;
    }

    .main-footer-contact_us-contact img {
        margin: 5vh 0;
        align-self: center;
    }

    .main-footer-contact_us-location {
        padding: 0 0 0 5%;
    }

    .main-footer-contact_us-location-office img {
        margin-right: 1vh;
    }

    .main-footer-contact_us-map {
        width: max-content;
        align-self: center;
    }

    .main-footer-navbar-copyright {
        width: auto;
    }

    .main-footer-navbar-items {
        padding: 0;
        width: auto;
        align-items: center;
        flex-direction: column;
    }

    .main-footer-navbar-items li {
        margin: 1vh 0;
    }
}